player-connection-mode=Listen
player-connection-guid=428896736
player-connection-debug=0
player-connection-project-name=ServerBuild
player-connection-ip=192.168.123.116
player-connection-ip=25.41.41.156
player-connection-ip=172.31.160.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=d5f415a364854b61a962f0022fd7babe
